<!DOCTYPE html>
<html>
    <head>
        <title>Médiathèque</title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body>
        <%- include('header'); %><h1>Médiathèque</h1>
        <form id="formRes" name="reserv" method="post" action="/mediatheque">
        <table class="table_af">
            <tr>
                <th>Titre</th>
                <th>Auteur</th>
                <th>Statut</th>
                <th>Rang</th>
                <th>Type</th>
                
            </tr>
                <%
                    var und = "Undefined";
                    for (i = 0; i < mediatheque.length; i++) { %>
                        <tr>
                            <td>
                                <% if(mediatheque[i].fields['titre_avec_lien_vers_le_catalogue']){%><%=mediatheque[i].fields['titre_avec_lien_vers_le_catalogue']%><%}else{%><%=und%><%} %>
                            </td>
                            <td>
                                <% if(mediatheque[i].fields['auteur']){%><%=mediatheque[i].fields['auteur']%><%}else{%><%=und%><%} %>
                            </td>
                            
                        %><%
                        if(mediatheque[i]['statut']==0){
                            %><td><button type="submit" value="<%=mediatheque[i]['_id']%><%=mediatheque[i]['statut']%>" name="id">Prendre <i class="fas fa-handshake"></i></button></td><%
                        }
                        else {
                            %><td><button type="submit" value="<%=mediatheque[i]['_id']%><%=mediatheque[i]['statut']%>" name="id">Rendre <i class="fas fa-folder-open"></i></button></td><%
                        }%>
                            <td>
                                <% if(mediatheque[i].fields['rang']){%><%=mediatheque[i].fields['rang']%><%}else{%><%=und%><%} %>
                            </td>
                            <td>
                                <% if(mediatheque[i].fields['type_de_document']){%><%=mediatheque[i].fields['type_de_document']%><%}else{%><%=und%><%} %>
                            </td><%
                    }
                %></tr>
        </table>
        </form>
    </body>
</html>